{% extends "base_site.html" %}
{% load i18n %}
{% load model_databank_tags %}

{% block content %}
<div class="row">
    <div class="span12">
        <h3>{% trans "Available models" %}</h3> <a href="{% url 'upload_form' %}" style="float: right; clear: both;" class="btn btn-primary">{% trans "Upload new model" %}</a>
        <br/><br/>
        <hr/>
        {% if modelreference_list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Organisation" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Created" %}</th>
                        <th>{% trans "Last Update" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in modelreference_list %}
                    <tr>
                        <td><a href="{{ obj.get_absolute_url }}">{{ obj.identifier }}</a></td>
	                    <td>{{ obj.organisation|default_if_none:"-" }}</td>
                        <td>{{ obj.type|default_if_none:"-" }}</td>
                        <td>{{ obj.created|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ obj|last_update_date|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <span>{% trans "No models found." %}</span>
        {% endif %}
    </div>
</div>
{% endblock %}
