{% extends "base_site.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="span12" style="border-bottom: 1px solid #ccc;">
        <h3>{{ modelreference }}</h3>
        <p>{{ modelreference.comment }}</p>
        <p><pre>{% trans "To clone" %}:<br/>$ hg clone <a href="{{ modelreference.repository_url }}" target="_blank">{{ modelreference.repository_url }}</a></pre></p>
        {% comment %}<a href="{% url model_reference_download modelreference.slug %}" style="float: right;" class="btn btn-primary">{% trans "Download" %}</a>{% endcomment %}
        <hr/>
	    <div class="navbar">
            <ul class="nav">
            {% for navbar_entry in section_navbar_items %}
                {% if navbar_entry.url %}
                    <li><a href="{{ navbar_entry.url }}">{{ navbar_entry.name }}</a></li>
                {% else %}
                    <li class="active"><a>{{ navbar_entry.name }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h4>{% block section_title %}{% endblock section_title %}</h4>
        {% block section_body %}{% endblock section_body %}
    </div>
</div>
{% endblock %}
