{% extends "model_databank/base_site.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="span10">
        <h2>{{ modelreference }}</h2>
        <span>uuid: {{ modelreference.uuid }}</span><br/>
        <a href="{% url model_reference_download modelreference.id %}" style="float: right;" class="btn btn-primary">{% trans "Download" %}</a>
        <h4>log</h4>
        <div>
            {% autoescape off %}{{ log }}{% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}
