{% extends "model_databank/modelreference_base.html" %}
{% load i18n %}
{% load model_databank_tags %}

{% block section_title %}{% trans "Commit History" %}{% endblock section_title %}
{% block section_body %}
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Revision" %}</th>
            <th>{% trans "Message" %}</th>
            <th>{% trans "Date" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for logentry in log_data %}
        <tr>
            <td>{{ logentry.author }}</td>
            <td><a href="{% mercurial_commit_url modelreference logentry %}" target="_blank">{{ logentry.short_revision }}</a></td>
            <td>{{ logentry.message }}</td>
            <td>{{ logentry.date|date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if log_data.patch %}
	<h5>{% trans "diff" %}</h5>
    <div>{{ log_data.patch }}</div>
{% endif %}
{% endblock section_body %}
