{% extends "model_databank/base_site.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="span12">
        <h3>{% trans "Available models" %}</h3> <a href="{% url upload_form %}" style="float: right; clear: both;" class="btn btn-primary">{% trans "Upload new model" %}</a>
        <br/><br/>
        <hr/>
        {% if modelreference_list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Created" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in modelreference_list %}
                    <tr>
                        <td><a href="{{ obj.get_absolute_url }}">{{ obj.identifier }}</a></td>
                        <td>{{ obj.model_type_str }}</td>
                        <td>{{ obj.created }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <span>{% trans "No models found." %}</span>
        {% endif %}
    </div>
</div>
{% endblock %}
